# Unity generated
Temp/
Library/
obj/

# AssetBundles
*.unity3d*
Assets/AssetBundles/Android/
Assets/AssetBundles/IOS/
Assets/StreamingAssets/
Assets/StreamingAssets.meta

# MonoDevelop/Sublime generated
*.svd
*.csproj
*.unityproj
*.sln
*.suo
*.sublime-*
*.pidb
*.userprefs

# OS generated
.DS_Store

# LineSDK generated
!Unity.iOS.Extensions.XCode.csproj

LocalDevAssetBundles/

.vs/
.vscode/
LocalBuild/

Assets/_/*.txt
Assets/_/*.txt.meta

#Google Auth
Assets/Thirdparty/GSheetToJson/Google.Apis.Auth.OAuth2.Responses.TokenResponse-user
Assets/Thirdparty/GSheetToJson/Google.Apis.Auth.OAuth2.Responses.TokenResponse-user.meta
